body {
    font-family: 'Nunito Sans';
    background-color: #EBEAEF;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  22px 22px 44px #bebebe,
                 -22px -22px 44px #ffffff;
    overflow: hidden;
    padding: 20px;
    transition: box-shadow 2s ease;
}

.box:hover {
    box-shadow:  22px 22px 44px #7a7373,
    -22px -22px 44px #fff5f5;
}

.about_section {
    width: 100%;
}

.board_section {
    width: 100%;
}

.profile_pic {
    border-radius: 30px;
    width: 130px;
    float: left;
    margin: 0 20px 20px 0;
}

p {
    text-align: justify;
    text-indent: 1em;
}

@media (min-width: 500px) {
    .about_section {
        flex: 1 1 20%;
    }
    .board_section {
        flex: 1 1 70%;
    }
}