body {
    font-family: 'Nunito Sans';
    background-color: #EBEAEF;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    border-radius: 50px;
    background: #EBEAEF;
    box-shadow: inset 14px 14px 28px #c8c7cb,
                inset -14px -14px 28px #ffffff;
    overflow: hidden;
    padding: 20px;
    transition: box-shadow 2s ease;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
}

#box:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #fbfaff, #d4d3d7);
    box-shadow:  14px 14px 28px #c8c7cb,
                 -14px -14px 28px #ffffff;
}

.about_section {
    width: 100%;
    text-align: justify;
}

.board_section {
    width: 100%;
}

#board_area {
    display: flex;
    flex-wrap: wrap;
}

.profile_pic {
    border-radius: 30px;
    width: 130px;
    float: left;
    margin: 0 20px 20px 0;
}

@media (min-width: 500px) {
    .about_section {
        flex: 1 1 20%;
    }
    .board_section {
        flex: 1 1 70%;
    }
}